{% extends '../base.html' %}
{% load static %}


{% block content %}
<div id="contact" class="contact-us section">
        <div class="container">
          <div class="row" style="display: flex;
          justify-content: center">
            <div id="form-div" class="col-lg-8 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
              <form id="contact" action="" method="post"> {% csrf_token %} 
                <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                      <h6>Linkshare</h6>
                      <h2><span>Join</span></h2>
                    </div>
                  </div>
                  <div class="col-lg-6 offset-lg-3">
                    <div class="row">
                      <div class="col-lg-12">
                            {{form.name}}{{form.username}}
                            <button type="button" class="btn btn-primary mb-4" id="id_check_btn">아이디 중복 확인</button>
                            {{form.password1}}      
                            {{form.password2}}
                            <p id="pwd_check_true" style="color: blue">비밀번호가 일치합니다.</p>
                            <p id="pwd_check_false" style="color: red">비밀번호가 일치하지 않습니다.</p>
                            {{form.email}}

                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-button ">작성 완료</button>
                        </fieldset>
                    </br>
                        </div>
                    </div>
                  </div>
                 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
{% endblock content %}


{% block js_block %}
<script> 
    $('#pwd_check_true').hide();
    $('#pwd_check_false').hide();
    
    $('#username').change(() => {
        $('#id_check_btn').show();
        $('#username').attr("check", "false");
        })

    $('#id_check_btn').click(() => {
        const username = $('#username').val()
        if(username == ''){
            alert('아이디를 입력해주세요.')
            return;
        }
        $.ajax({
            url: "{% url 'id_check' %}",
            type:'GET',
            data:{
                'username':username
            },
            dataType:'json',
            success:function(response){
                if(response.result != 'success'){
                    console.error(response.data)
                    return;
                }
                if(response.data == 'exist'){
                    alert("존재하는 아이디입니다");
                    $('#username').val('').focus();
                    return;
                }else{
                    alert("사용 가능한 아이디입니다");
                    $('#username').attr("check", "true");
                    $('#id_check_btn').hide();
                    return;
                }
            },
            error : (xhr, error) => {
                alert("서버와의 통신에서 문제가 발생했습니다.");
                console.error("error : " + error);
            }
        })
    });

    $('#pwd1').change(()=>{
        pwd_check();
    });

    $('#pwd2').change(()=>{
        pwd_check();
    });

    function pwd_check() {
        const pwd1 = $('#pwd1').val();
        const pwd2 = $('#pwd2').val();

        if ( pwd1 != '' && pwd2 == '' ) {
            return;
        } else if (pwd1 != "" || pwd2 != "") {
            if (pwd1 == pwd2) {
                $('#pwd1').attr("check", "true");
                $('#pwd_check_false').hide();
                $('#pwd_check_true').show();
                return;
            } else {
                $('#pwd1').attr("check", "false");
                $('#pwd_check_true').hide();
                $('#pwd_check_false').show();
                return;
            }
        }
    };

    
    const formDiv = document.getElementById("form-div");
    const joinForm = formDiv.querySelector("form");

    joinForm.addEventListener("submit" , (e) => {
      if( $('#username').attr("check") != "true") {
        alert("아이디 중복 확인을 해주세요.");
        e.preventDefault();
        $('#username').focus();
        return;
      }

      if($('#pwd1').attr("check") != "true" ) {
        alert("비밀번호를 다시 확인해주세요.");
        e.preventDefault();
        $('#pwd2').focus();
        return;
      }
    });

</script>
{% endblock js_block %}