{% extends '../base.html' %}
{% load static %}


{% block content %}

    <div id="services" class="our-services section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <h2>{{category.category_name}}
                    {% if category.share == False %}
                    <img src={% static 'images/private.png' %} style="width: 13px;"></img>
        {%else%}
        <p>스크랩수: {{category.scrap}}</p>
        {% endif %}
                  </h2>
                <h6>{{category.description}}
        <a href="{% url 'update_category' category.category_id %}"><img src={% static 'images/edit.png' %} style="width: 13px;"></img></a>
        <a href="{% url 'delete_category' category.category_id %}"><img src={% static 'images/delete.png' %} style="width: 13px;"></img></a></h6>
        <div class="main-green-button scroll-to-section">
            <a data-bs-toggle="modal" data-bs-target="#addLinkModal" id="link_btn">링크 추가</a>
          </div>
              </div>
            </div>
           
        </div>
       
    </div>
          
        <div class="container-fluid">
          <div class="row">
            {%for link in link_list%}
            <div class="col-lg-4">
              <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="icon">
                      <img src="{% static 'images/service-icon-01.png' %}" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="right-content">
                        <h4>{{link.description}}</h4>
                        <a href = "{{link.link_url}}"><p>{{link.link_url}}</p></a>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#updateLinkModal{{link.link_id}}" id="updatelink_btn"><img src={% static 'images/edit.png' %} style="width: 13px;"></img></button>
        <a href="{% url 'delete_link' category.category_id link.link_id %}"><button type="button" id="deletelink_btn"><img src={% static 'images/delete.png' %} style="width: 13px;"></img></button></a>
                    </div>
                  </div>
                </div>
                </div>
                </div>

                <!-- 링크 수정 Modal -->
        <div class="modal fade" id="updateLinkModal{{link.link_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><b>링크 수정하기</b></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="text" size="50" placeholder="링크 설명" id="update_description" value="{{link.description}}">
                </br>
            </br>
                  <input type="text" size="50" placeholder="링크 주소" id="update_link_url" value="{{link.link_url}}" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                  <button type="button" class="btn btn-primary"onclick="updateLink({{link.link_id}})">수정하기</button>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
                
        </div>
        


  <!-- 링크 추가 Modal -->
  <div class="modal fade" id="addLinkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            
          <h5 class="modal-title" id="exampleModalLabel"><b>링크 추가하기</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" size="50"placeholder="링크 설명" id="description">
        </br>
    </br>
          <input type="text" size="50"placeholder="링크 주소" id="link_url" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" onclick="addLink()">추가하기</button>
        </div>
      </div>
    </div>
  </div>

         
  
{% endblock content %}


{% block js_block %}
<script> 
   function addLink(){
       link_url = $('#link_url').val();
       description = $('#description').val() ;
       
       if(link_url == ''){
        alert('링크주소를 입력해주세요.');
        return;
        }
   $.ajax({
            url: "{% url 'new_link' category.category_id %}",
            type:'POST',
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
             },
            data:{
                'link_url':link_url,
                'description':description
            },
            dataType:'json',
            success:function(response){
                if(response.result != 'success'){
                    console.error(response.data)
                    return;
                }
                if(response.data == 'add success'){
                    alert("링크 추가 완료");
                    window.location.reload()
                    return;
                }else{
                    alert("링크 추가 실패. 다시 시도해주세요.");
                    window.location.reload();
                    return;
                }
            },
            error : (xhr, error) => {
                alert("서버와의 통신에서 문제가 발생했습니다.");
                console.error("error : " + error);
            }
        })
    };

    function updateLink(link_id){
        link_url = $('#update_link_url').val();
        description = $('#update_description').val() ;
        
        if(link_url == ''){
         alert('링크주소를 입력해주세요.');
         return;
         }
    $.ajax({
             url: "{% url 'update_link' category.category_id%}",
             type:'POST',
             headers: {
                 'X-CSRFTOKEN' : '{{ csrf_token }}'
              },
             data:{
                 'link_id': link_id,
                 'link_url':link_url,
                 'description':description
             },
             dataType:'json',
             success:function(response){
                 if(response.result != 'success'){
                     console.error(response.data)
                     return;
                 }
                 if(response.data == 'update success'){
                     alert("링크 수정 완료");
                     window.location.reload()
                     return;
                 }else{
                     alert("링크 수정 실패. 다시 시도해주세요.");
                     window.location.reload();
                     return;
                 }
             },
             error : (xhr, error) => {
                 alert("서버와의 통신에서 문제가 발생했습니다.");
                 console.error("error : " + error);
             }
         })
     };

</script>
{% endblock js_block %}